@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #151FA1;
  --secondaryColor: #E8E9FA;
  --footerBg: #f2f3ff;

}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--beaust);
}


::-webkit-scrollbar {
  display: none;
}

.Containers {
  width: 95%;
  margin: auto;
  height: 100%;
}

.transformingBg {
  background: linear-gradient(rgba(0, 0, 0, 0.182), rgba(0, 0, 0, 0.182)), url('../public/transformingbackgoround.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}


.vedioBtnBg {
  background: rgba(219, 219, 219, 0.644);
}

@media (min-width:768px) {
  .Containers {
    width: 75%;
    margin: auto;
    height: 100%;
  }

}

@layer utilities {
  .pBg {
    background: var(--primaryColor);
  }

  .pCl {
    color: var(--primaryColor);
  }

  .sBg {
    background: var(--secondaryColor);
  }

  .sCl {
    color: var(--secondaryColor);
  }

  .footerBg {
    background: var(--footerBg);
  }

  .text-balance {
    text-wrap: balance;
  }

  .pFont {
    font-family: var(--beaust);
  }

  .sFont {
    font-family: var(--rakiby);
  }


}